---
import BaseLayout from '../layouts/baselayouts.astro';
import BlogPost from '../components/blogroll.astro';
const pageTitle = "About Me";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---


<BaseLayout pageTitle={pageTitle}>
  <h2>blgoogmgo</h2>

  <p>I am working again through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

  {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>
